@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/gothampro.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('./fonts/gothampro_black.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Light.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    overflow-x: hidden;
}
body {
 overflow: hidden;
}
body.open-modal {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
}


section,
footer {
    padding: 0 288px;
    max-width: 1920px;
    margin: 0 auto;

}

h1 {
    text-transform: uppercase;
    font-size: 46px;
    line-height: 57px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 3.125rem;
    margin-bottom: 90px;
    font-weight: 100;
}

.section-title {
    font-size: 2.625rem;
    position: relative;
    margin-bottom: 0;

}

.section-title-bottom {
    display: flex;
    gap: 0.375rem;
    justify-content: center;
    margin: 48px 0;
}

.title-item {
    width: 0.375rem;
    height: 0.375rem;
    background: #fec11d;
    border-radius: 1rem;
}

.title-item.item-long {
    width: 3.25rem;

}

img {
    width: 100%;

}

.element-bg {
    position: absolute;
}

.bg-black {
    background: url('./img/bg-black.png') 50% 0 / cover;
    position: relative;
    z-index: 0;
}

.elem-cirlce {
    position: absolute;
    z-index: -1;
    background: url('./img/bg-element-circle.png')50% / cover;
}

.elem-plus {
    position: absolute;
    z-index: -1;
    background: url('./img/bg-element-plus.png')50% / cover;
}

.cirlce-one {
    width: 57.87px;
    height: 57.87px;
    left: 421px;
    top: 265px;
}

.cirlce-two {
    width: 82px;
    height: 82px;
    top: 520px;
    right: 410px;
}

.cirlce-three {
    width: 57px;
    height: 57px;
    top: 1251px;
    right: 134px;
}

.plus-one {
    width: 42px;
    height: 42px;
    top: 938px;
    right: 547px;
}

.plus-two {
    width: 42px;
    height: 42px;
    left: 246px;
    top: 1227px;
}

.elem-plus-orange {
    position: absolute;

    background: url('./img/bg-element-plus-orang.png')50% / cover;
    width: 62px;
    height: 62px;
}

.bg-white-two .big-circle.big-circle-left {
    background: url('./img/bg-element-big-circle-two-left.png') 0 / cover;
    height: 390px;
    width: 190px;
    top: 460px;
    left: 0;
    z-index: -2;
}

.bg-white-two .big-circle.big-circle.big-circle-right {
    top: auto;
    right: -114px;
    top: -372px;
    z-index: -1;
}

.bg-white-two .elem-plus-orange.plus-orange-one {
    top: 348px;
    left: 204px;
    z-index: -1;
}

.plus-orange-one {
    top: 601px;
    left: 215px;
}

.plus-orange-two {
    top: 1087px;
    right: 270px;
}

.big-circle {
    background: url('./img/bg-element-big-circle-left.png') 0 / cover;
    height: 690px;
    width: 320px;
}

.big-circle.big-circle-left {
    left: 0;
    top: 964px;
}

.big-circle.big-circle-right {
    right: 0;
    top: 218px;
    transform: rotate(180deg);
}

.bg-black.middle {
    background: none;
    position: relative;
}

.bg-black.middle::after {
    position: absolute;
    content: '';
    top: -10rem;
    bottom: -10rem;
    right: 0;
    left: 0;
    z-index: -2;
    background: url('./img/bg-black.png') 50% 0 / cover;
}

.bg-white {
    background: url('./img/bg-white-1.png') 50% 0 / 100% 100%;
    position: relative;
    z-index: 1;
}


.bg-white.bg-white-two {
    background: url('./img/bg-white-2.png') 50% 0 / 100% 100%;
    z-index: 3;
    
}

.bg-white.bg-white-two::after {
    position: absolute;
    content: '';
    top: -10rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;
    background: url("./img/bg-white-2.png") 100% 0 / 100% 100%;
}


.bg-orange {
    position: relative;
    background: url('./img/bg-orange.png') 50% 0 / 100% 100%, url('./img/bg-white-2.png') 0 60rem / 100% 50% no-repeat;
    z-index: 3;
}

/* .bg-orange::before {
    content: '';
    position: absolute;
    z-index: -3;
    left: 0;
    right: 0;
    top: 50%;
    bottom: -15rem;
    
} */

.header {
    margin-top: 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 288px;
    max-width: 1920px;
    margin: 0 auto;
    z-index: 4;
    transition: .3s ease;

}

.header.header-mini::before {
    content: '';
    left: -50%;
    right: -50%;
    top: 0;
    bottom: 0;
    position: absolute;
    background: #000000;
    z-index: -1;
}

.header.header-mini .menu-desktop.nav-menu {
    margin-top: 0rem;
}

.header.header-mini .menu-desktop .nav-menu-items {
    padding: 0.5rem 1.5rem;
}

.header.header-mini .menu-desktop .logo {
    transform: scale(0.8);
}

.logo {
    margin-left: 24px;
    height: 3.56rem;
    font-family: 'Gotham Pro', sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: 0.2s;

}

.logo-img {
    width: 3.5625rem;
    height: 3.5625rem;
    background: url('./img/logo.png') 50% / cover;
    margin-right: 9px;
}

.logo-title {
    font-size: 27.39px;
    letter-spacing: normal;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.logo-desc {
    font-size: 0.6875rem;
    letter-spacing: 2.5px;
    text-wrap: nowrap;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 37px;
    transition: 0.2s ease;
}

.nav-menu-items {
    display: flex;

    background: #ff9b14;
    padding: 12px 50px;
    color: #000000;
    border-radius: 1.375rem;
    transition: .2s ease;
}


.nav-menu-item {
    margin-right: 53px;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    cursor: pointer;

}

.nav-menu-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    background: #000000;
    height: 0.1rem;
    transition: 0.2s;
}

.nav-menu-item:hover::after {

    width: 100%;

}

.nav-menu-item::before {
    content: '';
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 1rem;
    background: #ffffff;
    top: calc(50% - (0.3758rem / 2));
    left: calc(-3.125rem / 2);
}

.nav-menu-item:first-child::before {
    background: none;
}

.nav-menu-item:last-child {
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 205px;
    margin-bottom: 180px;
}

.hero p {
    margin: 45px 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #d3d3d3;
    max-width: 48.75rem;
    text-align: center;
}

.statistic-items {

    display: flex;
    text-align: center;
    justify-content: space-between;
    /* width: 39rem; */
    gap: 156px;
    margin-bottom: 73px;
}

.statistic-count {
    font-size: 3.125rem;
    color: #ff9b14;
}

.statistic-title {
    font-size: 1.187rem;
    color: #d3d3d3;
    margin-top: 1rem;
}

.group-buttons {
    display: flex;
}

button,
.button-action {
    width: 22.8rem;
    height: 4.7rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    cursor: pointer;
    font-weight: normal;
    transition: .2s;
}

button:active,
.button-action:active {
    transform: scale(0.95);
}

button,
.button-action.sign-in {
    border: 0;
    background: #fcab1f;
    color: #000000;
    margin-right: 1rem;
    transition: 0.2s;

    box-shadow: 0px -0.375rem 0px 0px #e47100 inset;
    -webkit-box-shadow: 0px -0.375rem 0px 0px #e47100 inset;
    -moz-box-shadow: 0px -0.375rem 0px 0px #e47100 inset;
}

button:hover,
.button-action.sign-in:hover {
    background: #fec11d;
}

.button-action.sign-up {
    border: 0.1rem solid #ffffff;
}

.button-action.sign-up:hover {
    background: #ffffff;
    color: #000000;
}

.solutions {
    margin-bottom: 0;
}

.solution-list-item {
    margin-bottom: 2.5rem;
    display: flex;
    gap: 1rem;
}

.solution-title {
    font-weight: 500;
    color: #ed9711;
    font-size: 1.43rem;
    line-height: 1.75rem;
    margin-bottom: 2.375rem;
}

.solution-list-item-title {
    font-size: 1.0625rem;
}

.solutions-items {
    display: flex;
    justify-content: center;
    gap: 190px;
}

.steps {
    color: #000000;
    padding-top: 230px;
    padding-bottom: 180px;

    display: flex;
    flex-direction: column;
    gap: 150px;
}

.step {
    padding-left: 84px;
    display: flex;
    justify-content: start;
    gap: 4.875rem;
    position: relative;
}

.step::after {
    content: '';
    position: absolute;
    background: url('./img/arrow-step.svg') 50% / cover;
    width: 7.31rem;
    height: 6.75rem;
    bottom: -9rem;
    left: 50%;

}

.step:nth-child(2n)::after {
    bottom: -51px;
    transform: rotate(84deg);
    left: calc(50% - 3.81rem * 2);
}

.step:last-child::after {
    display: none;
}

.step-title {
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 2.81rem;
    color: #343434;

}

.step-items {
    margin-left: 110px;
    margin-top: 3.75rem;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.step-item {
    position: relative;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.75rem;
    color: #505050;

    list-style: none;
}

.step-item::before {
    content: '';
    left: -2rem;
    top: 0;
    position: absolute;
    width: 1.56rem;
    height: 1.375rem;
    background: url('./img/check.svg') 50% / cover;
}

.step-item::marker {
    width: 1.56rem;
    height: 1.375rem;
}

.step-img {
    width: 358px;
}

.step-img.second-img {
    width: 418px;
}

.partners {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-desc {
    text-align: center;
    font-size: 1.31rem;
    color: #b1b1b1;
    line-height: 1.75rem;
    font-weight: normal;
    margin-bottom: 7.5rem;
}

.partners-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.25rem;
    gap: 30px;
    flex-wrap: wrap;
    align-items: baseline;
}

.partner-item-title {
    font-size: 1.125rem;
    color: #ffae27;
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
    text-transform: uppercase;
    line-height: 1.75rem;
    font-weight: normal;
}


.partner-item-img img {
    width: auto;
}

.partner-item-desc {
    font-weight: normal;
    color: #b1b1b1;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.offers {
    position: relative;
    padding-top: 16.25rem;
    padding-bottom: 14.56rem;
}

.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 5.6rem;
}

.offer-item {
    position: relative;
    border-radius: 1.25rem;
    width: 22.06rem;
    height: 20.25rem;
    background: #1f1f1f;

    background: url('./img/fire.png') 50% / cover;
}

.offer-img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 1.25rem;
    position: absolute;
    left: -2.625rem;
    top: -2.625rem;


}

.offer-img img {
    object-fit: cover;
}

.offer-header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 2.25rem 2.25rem 2.25rem 12.25rem;
    min-height: 9.8125rem;
    border-radius: 1.25rem 1.25rem 0 0;
    background: #313131;

}

.offer-location::before {
    content: '';
    display: inline-block;
    margin-right: 0.5rem;
    width: 0.6875rem;
    height: 1.0625rem;
    background: url('./img/location.svg') 50% / cover;
}

.offer-bid {
    color: #b1b1b1;
}

.offer-price {
    color: #ffffff;
}

.offer-title {
    font-size: 1.5625rem;
    color: #ed9711;
    font-weight: 100;
    padding: 2.5rem;

}

.info-section {
    display: flex;
    justify-content: center;
    gap: 8.5rem;
    color: #000000;
    font-size: 1.375rem;
    padding-top: 1.3rem;
    padding-bottom: 1.31rem;
}



.info-img {
    width: 33.3125rem;
    position: relative;
    top: calc(-33.3125rem / 3);

}

.info-desc {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    font-weight: 100;
    line-height: 2.125rem;
}

.info-desc a {
    color: inherit;
}

.contacts-us {
    padding-top: 5rem;
}

.links-items {
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-top: 5.6rem;
}

.link-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.link-desc {
    font-weight: normal;
    font-size: 1rem;
    color: #9b9b9b;
    margin-bottom: 0.5rem;
}

.link-wrapper a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;

}

.payments {
    margin: 9.375rem auto;
    margin-bottom: 8rem;
}

.wrapper-payments {
    background: #ffffff;
    color: #000000;
    padding: 7.375rem 6.25rem;
    border-radius: 2.125rem;
    width: 100%;
}

.payments-logo-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5.625rem;
}

.payments-logo-item img {
    height: auto;
}

.capitalist {
    width: 11.6875rem;
}

.mastercard {
    width: 6.5rem;
}

.visa {
    width: 7.9375rem;
}

.bitcoin {
    width: 5.125rem;
}

.paypal {
    width: 12.0625rem;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 0 24px;
}

.news-item {
    width: 390px;
    min-height: 353px;
    background: #2b2b2b;
    border-radius: 0.625rem;
    padding: 2.75rem;
    font-weight: normal;
}

.header-news {
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    margin: 0 1rem;
    height: 0.01rem;
    background: #505050;
}

.reader {
    color: #f09e28;
}

.date {
    font-size: 0.875rem;
    color: #7f7f7f;
}

.news-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin: 2.375rem 0 1.25rem 0;
}

.news-desc {
    font-size: 0.9375rem;
    line-height: 1.375rem;
    color: #a6a6a6;
}

.info-web-masters {
    color: #000000;
    padding-top: 8.1rem;
    
}

.info {
    display: flex;
    align-items: end;
    gap: 8.125rem;
    color: #000000;
    font-size: 1.375rem;
    margin-top: 4.375rem;
    padding: 0 134px 4.625rem 134px;

}

.info-img.info-web-master {
    position: static;
    width: 21.25rem;
}

.ref-program {
    width: 55rem;
    height: 13.875rem;
    padding: 2.35rem;
    position: relative;
    background: #ff9b14;
    color: #000000;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.25rem;
    margin: 0 auto;
    overflow: hidden;
    top: 89px;
}

.ref-program>* {
    position: relative;
    z-index: 2;
}

.ref-program:hover::after {
    right: -56rem;
    -moz-transform: rotate(59deg) translate(-0.57rem, 5.875rem) skew(37deg, 6deg);
    -webkit-transform: rotate(59deg) translate(-0.57rem, 5.875rem) skew(37deg, 6deg);
    -o-transform: rotate(59deg) translate(-0.57rem, 5.875rem) skew(37deg, 6deg);
    -ms-transform: rotate(59deg) translate(-0.57rem, 5.875rem) skew(37deg, 6deg);
    transform: rotate(59deg) translate(-0.57rem, 5.875rem) skew(37deg, 6deg);
}

.ref-program::after {
    content: '';
    position: absolute;
    top: -13rem;
    left: -10rem;
    right: 3rem;
    bottom: -10rem;
    background: #ffb330;
    z-index: 1;
    transition: .3s ease-in;

    -moz-transform: rotate(59deg) translate(-9.57rem, 5.875rem) skew(37deg, 6deg);
    -webkit-transform: rotate(59deg) translate(-9.57rem, 5.875rem) skew(37deg, 6deg);
    -o-transform: rotate(59deg) translate(-9.57rem, 5.875rem) skew(37deg, 6deg);
    -ms-transform: rotate(59deg) translate(-9.57rem, 5.875rem) skew(37deg, 6deg);
    transform: rotate(59deg) translate(-9.57rem, 5.875rem) skew(37deg, 6deg);
}

.ref-title {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1.125rem;
}

.ref-desc {
    font-size: 1.125rem;
}

.action-link {
    background: #343434;
    color: #ffffff;
    margin-right: 1rem;
    transition: 0.2s;
    width: 265px;
    box-shadow: 0px -0.375rem 0px 0px #000000 inset;
    -webkit-box-shadow: 0px -0.375rem 0px 0px #000000 inset;
    -moz-box-shadow: 0px -0.375rem 0px 0px #000000 inset;
}

.action-link:hover {
    background: #464646;
}

.footer {
    padding-top: 10.2875rem;
}

.footer .nav-menu-item {
    text-transform: none;
    margin-bottom: 0.9rem;
    margin-right: 0;
    font-size: 14px;
}

.footer .nav-menu-items {
    background: none;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: normal;
    gap: 4.31rem;
    padding: 23px 26px;
}

.footer .nav-menu-item::after {
    background: #ffffff;
}

.footer .nav-menu-item::before {
    background: #ef920b;
    left: -0.8rem;
}


.copyright-container {
    margin-top: 4.125rem;
    border-top: 0.1rem solid #7f7f7f;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    color: #ffffff63;
    font-size: 0.875rem;
}

.link-rules-item:hover {
    color: #fff;
}

.link-rules-item {
    cursor: pointer;
}

.nav-menu-mobile {
    padding: 1.5rem 0;
    display: none;
    justify-content: space-between;
    align-items: center;


}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 3.5rem;
    height: 1.625rem;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.625rem;
    background: #ffffff;
}

.burger::before {
    top: 0;
    box-shadow: 0 0.6875rem 0 #ffffff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
    top: 0.6875rem;
    transform: rotate(45deg);
    box-shadow: 0 0.375rem 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
    bottom: 0.6875rem;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.625rem 0;
    margin: 0;
    background: #e47200f5;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 100%;
    height: 100vh;

}

.menu-item {
    display: block;
    padding: 1.5rem;
    color: white;
    font-size: 2.525rem;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255, 255, 255, .2)
}

.burger-checkbox:checked~.menu-list {
    transform: translateX(0);
}

.form-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000098;
    z-index: 5;
    transition: 0.3s;
}

.form-popup.hidden {
    opacity: 0;
    pointer-events: none;
}

.form-container {
    max-height: 90%;
    
    width: 38.125rem;
    background: #f7f7f7;

    border-radius: 0.625rem;

}

.policy-container {
    max-width: 81rem;
    width: 95%;
    background: #f7f7f7;

    border-radius: 0.625rem;
    color: #000000;
    padding: 4.125rem;
    position: relative;
}

.close-btn {
    width: 1.375rem;
    height: 1.375rem;
    position: absolute;
    top: 1.375rem;
    right: 1.375rem;
    background: url('./img/close.svg') 50% / cover;
    cursor: pointer;
}

.policy-title {
    font-size: 2.5rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 4rem;
}

.policy-text {
    max-height: 25.75rem;
    overflow-y: scroll;
    font-weight: normal;
    line-height: 1.75rem;
}

.form {

    padding: 4rem 5.18rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.25rem;
}

.form input {
    width: 100%;
    height: 3.5625rem;
    border-radius: 0.625rem;
    padding: 0 1.6875rem;
    border: 0.01rem solid #c0c0c0;

    font-weight: 100;
    font-size: 1.4rem;
    line-height: 0.1rem;
}

.form input::placeholder {
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 0.1rem;
}

.form-title {

    width: 100%;
    height: 8.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    background: url('./img/bgform.png') 50% 0 / 100%;

    font-weight: 100;
    font-size: 2.5rem;
}

.radio-container {
    display: flex;
    font-size: 1.5rem;
    font-weight: 100;
    color: #303030;
    align-items: center;
    width: 100%;
    gap: 1.31rem;
}

.check-container label {
    color: #000000;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.465rem;
}

.check-container label a {
    color: #000000;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.465rem;
}

.form-popup input[type="checkbox"]:checked,
.form-popup input[type="checkbox"]:not(:checked),
.form-popup input[type="radio"]:checked,
.form-popup input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.form-popup input[type="checkbox"]:checked+label,
.form-popup input[type="checkbox"]:not(:checked)+label,
.form-popup input[type="radio"]:checked+label,
.form-popup input[type="radio"]:not(:checked)+label {
    display: inline-block;
    position: relative;
    padding-left: 3.45rem;
    line-height: normal;
    cursor: pointer;
}

.form-popup input[type="checkbox"]:checked+label:before,
.form-popup input[type="checkbox"]:not(:checked)+label:before,
.form-popup input[type="radio"]:checked+label:before,
.form-popup input[type="radio"]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2.375rem;
    height: 2.375rem;
    border: 0.1rem solid #dddddd;
    background-color: #ffffff;
    color: #464646;
}

.form-popup input[type="checkbox"]:checked+label:before,
.form-popup input[type="checkbox"]:not(:checked)+label:before {
    border-radius: 0.3rem;
}

.form-popup input[type="radio"]:checked+label:before,
.form-popup input[type="radio"]:not(:checked)+label:before {
    border-radius: 100%;
}

.form-popup input[type="checkbox"]:checked+label:after,
.form-popup input[type="checkbox"]:not(:checked)+label:after,
.form-popup input[type="radio"]:checked+label:after,
.form-popup input[type="radio"]:not(:checked)+label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-popup input[type="checkbox"]:checked+label:after,
.form-popup input[type="checkbox"]:not(:checked)+label:after {
    left: 0.3rem;
    top: 0.6rem;
    width: 1.5rem;
    height: 0.6rem;
    border-radius: 0.1rem;
    border-left: 0.3rem solid #ff9b14;
    border-bottom: 0.3rem solid #ff9b14;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-popup input[type="radio"]:checked+label:after,
.form-popup input[type="radio"]:not(:checked)+label:after {
    left: 0.6rem;
    top: 0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    background-color: #ff9b14
}

.form-popup input[type="checkbox"]:not(:checked)+label:after,
.form-popup input[type="radio"]:not(:checked)+label:after {
    opacity: 0;
}

.form-popup input[type="checkbox"]:checked+label:after,
.form-popup input[type="radio"]:checked+label:after {
    opacity: 1;
}

.footer-menu-items-mobile {
    display: none;
}

@media (max-width: 1765px) {
    .header {
        padding: 0 5vw;
    }

    section,
    footer {
        padding: 0 5vw;
        max-width: 1920px;
        margin: 0 auto;

    }
    .bg-white {
        background: url(./img/bg-white-1.png) 50% 0 / cover;
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 1312px) {
    .header .menu-desktop {
        display: none;
    }

    .header .nav-menu-mobile {
        display: flex;
    }

    .info-section {
        padding-bottom: 8.31rem;
    }

    .partners-items {
        justify-content: center;
        align-items: center;
    }

    .partner-item {
        min-width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bg-orange {
        position: relative;
        background: url("./img/bg-orange.png") 50% 0 / cover, url(./img/bg-white-2.png) 0 60rem / 100% 50% no-repeat;
        z-index: 3;
        padding-bottom: 5rem;
    }

    .bg-white.bg-white-two {
        background: url("./img/bg-white-2.png") 50% 0 / cover;
        z-index: 3;
    }

    .bg-white.bg-white-two::after {
        position: absolute;
        content: '';
        top: -18rem;
        bottom: 18rem;
        right: 0;
        left: 0;
        z-index: -2;
        background: url("./img/bg-white-2.png") 100% 0 / cover;
    }

}

@media (max-width: 999px) {
    html {
        font-size: 14px;
    }

    .bg-black .element-bg {
        display: none;
    }

    h1 {
        font-size: 30px;
        line-height: normal;
    }

    h2 {
        font-size: 2.325rem;
        margin-bottom: 55px;

    }

    .bg-white-two .big-circle.big-circle.big-circle-right {
        top: auto;
        right: -114px;
        top: -331px;
        z-index: -1;
    }

    .bg-white-two .big-circle.big-circle-left {
        background: url('./img/bg-element-big-circle-two-left.png') 0 / cover;
        height: 390px;
        width: 190px;
        top: 257.8px;
        left: 0;
        z-index: -1;
    }

    .step-title {
        font-weight: normal;
        font-size: 1.475rem;
        line-height: normal;
        color: #343434;
    }

    .step-items {
        margin-left: 50px;
        margin-top: 2.75rem;

        gap: 15px;
    }

    .solutions-items {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .partners-items {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 6.25rem;
        flex-wrap: wrap;
    }

    .offer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6rem;
        margin-top: 5.6rem;
    }

    .links-items {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 5.6rem;
    }

    .wrapper-payments {
        background: #ffffff;
        color: #000000;
        padding: 3.375rem 1.25rem;
        border-radius: 2.125rem;
        width: 100%;
    }

    .news-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3.5rem;
        padding: 0px 0px;
    }

    .news-item {
        width: 337px;
        min-height: 353px;
        background: #2b2b2b;
        border-radius: 0.625rem;
        padding: 1.75rem;
        font-weight: normal;
    }

    .ref-program {
        width: 95%;

    }

    .info {
        display: flex;
        align-items: end;
        gap: 8.125rem;
        color: #000000;
        font-size: 1.375rem;
        margin-top: 4.375rem;
        padding: 0 0 10.625rem 0;
    }

    .footer .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: space-between;
        margin-top: 37px;
        transition: 0.2s ease;
    }

    .menu-item {
        display: block;
        padding: 1.3rem;
        color: white;
        font-size: 2.025rem;
        text-align: center;
        text-decoration: none;
    }

    .footer .nav-menu-items {
        gap: 9.31rem;
    }

    .big-circle.big-circle-right {
        display: none;
    }
}

@media (max-width: 1120px) and (max-height: 797px) and (orientation:landscape) {
    .policy-container {
        max-width: 90%;
        max-height: 80%;
        padding: 3rem 1rem;
        position: relative;
    }
    .policy-text {
        max-height: 13.75rem;
        overflow-y: scroll;
        font-weight: normal;
        line-height: 1.75rem;
    }
    .policy-title {
        font-size: 2.5rem;
        font-weight: 100;
        text-align: center;
        margin-bottom: 1rem;
    }
    .form-container {
        min-width: 90%;
        max-height: 90%;
        border-radius: 1.625rem;
    }
    
    .form-container .form-title {
        max-height: 1.25rem;
        min-height: 3rem;
        font-size: 1.5rem;
    }

    .form-sign-up .form-container .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding: 1rem 1rem;
        gap: 5px;
    }

    input#email {
        grid-area: 1 / 1 / 2 / 2;
    }

    input#password  {
        grid-area: 1 / 2 / 2 / 3;
    }

    .radio-container.webmaster {
        grid-area: 2 / 1 / 3 / 2;
    }

    input#password-2 {
        grid-area: 2 / 2 / 3 / 3;
    }
    .radio-container.advertiser {
        grid-area: 3 / 1 / 4 / 2;
    }

    .check-container.check-policy {
        grid-area: 3 / 2 / 4 / 3;
    }

    .form-container button{
        grid-area: 4 / 1 / 5 / 3;
        margin: 0 auto;
    }
}

@media (max-width: 769px) {
    .hero {
        min-height: 100vh;
        padding-top: 60px;
        justify-content: space-evenly;
    }

    .hero p {
        margin: 10px 0;
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #d3d3d3;
        max-width: 48.75rem;
        text-align: center;
    }

    .hero p br {
        display: none;
    }

    .group-buttons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .statistic-items {
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: auto;
        gap: 0;
        margin-bottom: 30px;
        gap: 30px;
    }

    .steps {
        gap: 30px;
    }

    .step {
        padding-left: 0;
        display: flex;
        justify-content: start;
        gap: 4.875rem;
        position: relative;
        flex-direction: column-reverse;
    }

    .step:nth-child(2n) {
        flex-direction: column;
    }

    .step::after {
        display: none;
    }

    .partners-items {
        gap: 50px;

        justify-content: start;


        scroll-snap-type: x mandatory;


    }

    .partner-item {
        min-width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        scroll-snap-align: center;
    }

    .offer-container {
        gap: 60px;
        align-items: center;
    }

    .offer-item {
        height: auto;
    }


    .info-section {
        flex-direction: column;
        gap: 0;
    }

    .info-img {
        width: 70%;
        margin: 0 auto;
    }

    .links-items {
        flex-direction: column;
        gap: 30px;
    }

    .payments-logo-items {
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: space-evenly;
    }


    .info {
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .ref-program {
        flex-direction: column;
        padding: 1.25rem;
        height: auto;
        gap: 30px;
        text-align: center;
    }

    .nav-menu-mobile {
        padding: 1rem 0;
    }

    .nav-menu-mobile .logo {
        height: auto;
        margin: 0;
    }

    .nav-menu-mobile .logo-img {
        width: 2.5625rem;
        height: 2.5625rem;
    }

    .header {
        padding: 0 5vw;
    }

    .step-img {
        max-width: 60%;
        margin: 0 auto;
    }

    .nav-menu-items {
        flex-direction: column;

    }

    .footer .nav-menu-items {
        gap: 60px;
        padding: 0;
    }

    .copyright-container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    button,
    .button-action.sign-in {

        margin-right: 0;

    }

    .wrapper-item {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .action-link {
        background: #343434;
        color: #ffffff;
        margin-right: 0rem;
        transition: 0.2s;
        box-shadow: 0px -0.375rem 0px 0px #000000 inset;
        -webkit-box-shadow: 0px -0.375rem 0px 0px #000000 inset;
        -moz-box-shadow: 0px -0.375rem 0px 0px #000000 inset;
    }

    .form {
        padding: 2rem 1rem;
        gap: 15px;
    }

    .form-container {
        max-width: 90%;
        min-height: auto;

    }

    .policy-container {
        max-width: 90%;
        max-height: 80%;

        padding: 3rem 1rem;
        position: relative;
    }

    .policy-title {
        font-size: 1.6rem;
        font-weight: 100;
        text-align: center;
        margin-bottom: 2.1rem;
    }

    .close-btn {
        width: 1.675rem;
        height: 1.675rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: url("./img/close.svg") 50% / cover;
        cursor: pointer;
    }

    .form-title {

        min-height: 5.25rem;

        font-size: 1.5rem;
    }

    .form input {
        height: 2.7625rem;
        font-size: 1rem;
    }

    .form input::placeholder {
        font-size: 1rem;
    }

    .radio-container {
        font-size: 1rem;
    }

    .form-popup input[type="checkbox"]:checked+label:before,
    .form-popup input[type="checkbox"]:not(:checked)+label:before,
    .form-popup input[type="radio"]:checked+label:before,
    .form-popup input[type="radio"]:not(:checked)+label:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 1.675rem;
        height: 1.675rem;
        border: 0.1rem solid #dddddd;
        background-color: #ffffff;
        color: #464646;
    }

    .form-popup input[type="radio"]:checked+label:after,
    .form-popup input[type="radio"]:not(:checked)+label:after {
        left: 0.4rem;
        top: 0.4rem;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: #ff9b14;
    }

    .form-popup input[type="checkbox"]:checked+label:after,
    .form-popup input[type="checkbox"]:not(:checked)+label:after {
        left: 0.3rem;
        top: 0.5rem;
        width: 0.9rem;
        height: 0.4rem;
        border-radius: 0.1rem;
        border-left: 0.3rem solid #ff9b14;
        border-bottom: 0.3rem solid #ff9b14;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .footer-menu-items-deskop {
        display: none;
    }

    .footer-menu-items-mobile {
        display: flex;
        flex-direction: row;

    }

    .footer .logo {
        margin: 0;
    }

}